<script type="text/javascript">
    /*******變換學制後，匯入該json檔*******/
    var get_json_when_change_degree = function(path, time_table_from_django) {
        // console.log(time_table_from_django == null);
        $.when($.getJSON(path, function(json) { //getJSON會用function(X)傳回X的物件或陣列
            //console.log(json);
            $.each(json.course, function(ik, iv) {
                if (typeof(window.course_of_majors[iv.for_dept]) == 'undefined') {
                    //如果這一列(列的名稱為索引值key)是空的也就是undefined，那就對他進行初始化，{}物件裡面可以放任意的東西，在下面會把很多陣列塞進這個物件裡面
                    window.course_of_majors[iv.for_dept] = {};
                }
                if (typeof(window.course_of_majors[iv.for_dept][iv.class]) == 'undefined') {
                    window.course_of_majors[iv.for_dept][iv.class] = []; //如果這一行(列的名稱為索引值key)是空的也就是undefined，那就對他進行初始化，[]裡面的是放陣列
                }
                window.course_of_majors[iv.for_dept][iv.class].push(iv.code); //把東西推進這個陣列裡，概念跟stack一樣
                if (typeof(window.courses[iv.code]) == 'undefined') {
                    window.courses[iv.code] = [];
                }
                window.courses[iv.code].push(iv); //這邊可以直接把選課號當作索引值key，裡面的值為object
                window.content.push({
                    titile: iv.code
                });
                $.each(iv.time_parsed, function(jk, jv) { //建立日期的陣列
                    $.each(jv.time, function(mk, mv) {
                        if (typeof(window.course_of_day[jv.day]) == 'undefined') {
                            window.course_of_day[jv.day] = {};
                        }
                        if (typeof(window.course_of_day[jv.day][mv]) == 'undefined') {
                            window.course_of_day[jv.day][mv] = [];
                        }
                        window.course_of_day[jv.day][mv].push(iv);
                    })
                })
                if (typeof(window.teacher_course[iv.professor]) == 'undefined') { //建立老師名稱的陣列
                    window.teacher_course[iv.professor] = [];
                    window.content.push({
                        title: iv.professor
                    });
                }
                window.teacher_course[iv.professor].push(iv);
                if (typeof(window.name_of_course[iv.title_parsed.zh_TW]) == 'undefined') { //中文課名陣列
                    window.name_of_course[iv.title_parsed.zh_TW] = [];
                    /**************************************************
                    Window.content.push(the Chinese title of this class)
                    will build a search index for Semantic Ui search bar
                    可以自動補全文字
                    **************************************************/
                    window.content.push({
                        title: iv.title_parsed.zh_TW
                    });
                }
                window.name_of_course[iv.title_parsed.zh_TW].push(iv);
                if (typeof(window.name_of_course[iv.title_parsed.en_US]) == 'undefined') { //英文課名陣列
                    window.name_of_course[iv.title_parsed.en_US] = [];
                    window.content.push({
                        title: iv.title_parsed.en_US
                    });
                }
                window.name_of_course[iv.title_parsed.en_US].push(iv);
            });
        })).then(function() {
            if (time_table_from_django != null) {
                load_timetable(time_table_from_django);
            }

            /*****************************************************************
            Search bar from Semantic Ui
            *****************************************************************/
            $('.ui.search')
                .search({
                    source: window.content
                });
        })

    }

    /************從翔宇那邊接user資料過來自動填系所必修課**********/
    var new_get_json_when_change_degree = function(path, dept, grade) {
        $.when($.getJSON(path, function(json) { //getJSON會用function(X)傳回X的物件或陣列
            //console.log(json);
            $.each(json.course, function(ik, iv) {
                if (typeof(window.course_of_majors[iv.for_dept]) == 'undefined') //如果這一列(列的名稱為索引值key)是空的也就是undefined，那就對他進行初始化，{}物件裡面可以放任意的東西，在下面會把很多陣列塞進這個物件裡面
                    window.course_of_majors[iv.for_dept] = {};
                if (typeof(window.course_of_majors[iv.for_dept][iv.class]) == 'undefined') {
                    window.course_of_majors[iv.for_dept][iv.class] = []; //如果這一行(列的名稱為索引值key)是空的也就是undefined，那就對他進行初始化，[]裡面的是放陣列
                }
                window.course_of_majors[iv.for_dept][iv.class].push(iv.code); //把東西推進這個陣列裡，概念跟stack一樣
                if (typeof(window.courses[iv.code]) == 'undefined') {
                    window.courses[iv.code] = [];
                }
                window.courses[iv.code].push(iv); //這邊可以直接把選課號當作索引值key，裡面的值為object
                window.content.push({
                    title: iv.code
                });
                $.each(iv.time_parsed, function(jk, jv) { //建立日期的陣列
                    $.each(jv.time, function(mk, mv) {
                        if (typeof(window.course_of_day[jv.day]) == 'undefined') {
                            window.course_of_day[jv.day] = {};
                        }
                        if (typeof(window.course_of_day[jv.day][mv]) == 'undefined') {
                            window.course_of_day[jv.day][mv] = [];
                        }
                        window.course_of_day[jv.day][mv].push(iv);
                    })
                })
                if (typeof(window.teacher_course[iv.professor]) == 'undefined') { //建立老師名稱的陣列
                    window.teacher_course[iv.professor] = [];
                    window.content.push({
                        title: iv.professor
                    });
                }
                window.teacher_course[iv.professor].push(iv);
                if (typeof(window.name_of_course[iv.title_parsed.zh_TW]) == 'undefined') { //中文課名陣列
                    window.name_of_course[iv.title_parsed.zh_TW] = [];
                    /**************************************************
                    Window.content.push(the Chinese title of this class)
                    will build a search index for Semantic Ui search bar
                    可以自動補全文字
                    **************************************************/
                    window.content.push({
                        title: iv.title_parsed.zh_TW
                    });
                }
                window.name_of_course[iv.title_parsed.zh_TW].push(iv);
                if (typeof(window.name_of_course[iv.title_parsed.en_US]) == 'undefined') { //英文課名陣列
                    window.name_of_course[iv.title_parsed.en_US] = [];
                    window.content.push({
                        title: iv.title_parsed.en_US
                    });
                }
                window.name_of_course[iv.title_parsed.en_US].push(iv);
            });
        })).then(function() {
            add_major(dept, grade);
            /*****************************************************************
            Search bar from Semantic Ui
            *****************************************************************/
            $('.ui.search')
                .search({
                    source: window.content
                });
        })

    }

    /*********獲得課程最後的更新時間*********/
    var return_url_and_time_base = function() {
        // this function will return a string, url base, which will link to syllabus of that course. and assign it to a global variable.
        $.when(
            $.getJSON("/static/course/json/url_base.json", function(json) {
                window.url_base = json[0];
                window.lastupdatetime = json[1];
                $('#updatetime').text(window.lastupdatetime);
            })
        ).then(function() {

        });
    }
    var get_from_django = function() {
        /**********************************************************
        user_info_arr 會回傳使用者的grade和major，注意是按照這樣的順序喔
        **********************************************************/
        window.user = return_init_user_json();
        user_info_arr = return_major_and_level("{{ userDept_from_request | escapejs }}", "{{ userGrade_from_request | escapejs }}");
        window.user['returnarr']['degree'] = "{{ userDegree_from_request | escapejs }}";
        window.user['returnarr']['major'] = "{{ userDept_from_request | escapejs }}";
        window.user['returnarr']['level'] = "{{ userGrade_from_request | escapejs }}";
        user_degree_json_path = "/static/course/json/" + "{{ userDegree_from_request | escapejs }}" + ".json"; //userDegree_from_request is "Degree Character" from user session
        hadSaved_from_request = {{ hadSaved_from_request}};
        window.user['user_name'] = "{{ email | escapejs }}";
        if (hadSaved_from_request == true) {
            if ("{{ time_table | escapejs }}" == "") {
                redirect_loc = "/course/course_zh_TW/?name=" + window.user['user_name'];
                document.location.href = redirect_loc;
                //重導向頁面到get的網址，這樣django template才能把使用者的書單丟進
            } else {
                window.user['user_dept'] = "{{ user_dept | escapejs }}";
                window.time_table_from_django = JSON.parse("{{ time_table | escapejs }}");
                // cause load_timetable func will call add_course, which will insert course into window.user['time_table']. The consequence is every course will be duplicated!! So time_table data got from django cannot be assign into window.user['time_table'] at the first time.
                load_json_for_user('U', window.time_table_from_django);
                /***********************************************************************
                把屬於使用者學制的json檔load進來，例如載入學士班的json
                the argument "time_table_from_django" is the data which is use "get" from db, contains user's timetable info.
                ***********************************************************************/
            }
        } else {
            // console.log(user_degree_json_path)
            new_get_json_when_change_degree(user_degree_json_path, user_info_arr[1], user_info_arr[0]);
        }
    }
</script>
