<script type="text/javascript">
    var get_from_django = function() {
        /**********************************************************
        user_info_arr 會回傳使用者的grade和major，注意是按照這樣的順序喔
        **********************************************************/
        window.user = return_init_user_json();
        user_info_arr = return_major_and_level("{{ userDept_from_request | escapejs }}", "{{ userGrade_from_request | escapejs }}");
        window.user['returnarr']['degree'] = "{{ userDegree_from_request | escapejs }}";
        window.user['returnarr']['major'] = "{{ userDept_from_request | escapejs }}";
        window.user['returnarr']['level'] = "{{ userGrade_from_request | escapejs }}";
        user_degree_json_path = "/static/course/json/" + "{{ userDegree_from_request | escapejs }}" + ".json"; //userDegree_from_request is "Degree Character" from user session
        hadSaved_from_request = {{ hadSaved_from_request}};
        window.user['user_name'] = "{{ email | escapejs }}";
        if (hadSaved_from_request == true) {
            if ("{{ time_table | escapejs }}" == "") {
                redirect_loc = "/course/course_zh_TW/?name=" + window.user['user_name'];
                document.location.href = redirect_loc;
                //重導向頁面到get的網址，這樣django template才能把使用者的書單丟進
            } else {
                window.user['user_dept'] = "{{ user_dept | escapejs }}";
                window.time_table_from_django = JSON.parse("{{ time_table | escapejs }}");
                // cause load_timetable func will call add_course, which will insert course into window.user['time_table']. The consequence is every course will be duplicated!! So time_table data got from django cannot be assign into window.user['time_table'] at the first time.
                load_json_for_user('U', window.time_table_from_django);
                /***********************************************************************
                把屬於使用者學制的json檔load進來，例如載入學士班的json
                the argument "time_table_from_django" is the data which is use "get" from db, contains user's timetable info.
                ***********************************************************************/
            }
        } else {
            get_json_when_change_degree(user_degree_json_path, user_info_arr[1], user_info_arr[0]);
        }
    }
</script>
