.stufinite-course-info-container {
  position: absolute;
  top: 135px;
  z-index: 200;
  display: none;
  overflow: auto;
  width: calc(100% - 300px);
  height: calc(100% - 107px);
  background-color: white;
}

.stufinite-course-info-close {
  float: right;
  width: 48px;
  height: 24px;
  border-radius: 2px 2px 2px 6px;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bolder;
  line-height: 24px;
}

.stufinite-course-info {
  margin: 0;
  padding: 24px 16px 24px 16px;
  list-style: none;
}

.stufinite-course-info li {
  padding-left: 8px;
  height: 48px;
  color: #403F3F;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 15px;
  line-height: 48px;
}

.stufinite-course-info li i {
  margin-right: 8px;
  width: 28px;
  text-align: center;
  font-size: 24px;
}

.stufinite-course-info li a {
  color: #403F3F;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .stufinite-course-info-container {
    width: 100%;
  }
}
